@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  background: linear-gradient(to bottom, #b721ff, #21d4fd);
  background-repeat: no-repeat;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.profile-pic {
  margin-bottom: 10px;
}

.link-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
}

.link-item {
  margin: 20px 0;
  display: flex;
}

.link {
  display: flex;
  padding: 2px 20px;
  width: 100%;
  border-radius: 16px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.25em;
  text-decoration: none;
  border: solid 3px #fffeff;
  box-shadow: 1px 1px 10px 0px #fffeff;
  color: #fffeff;
  background-color: transparent;
  /* Gradient Color */
  /* background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fffeff),
    to(#d7fffe)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  transition: 0.25s all;
}

.icon-wrapper {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.icon {
  font-size: inherit;
}

.link:hover {
  border: solid 3px #ade8f4;
  box-shadow: 1px 1px 10px 0px #ade8f4;
  color: #ade8f4;
  transform: translateY(-5px);
}
